@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-[#000000] px-5 py-[16px] border-none text-white text-[1rem] hover:bg-black font-semibold rounded-[37px] flex justify-between gap-3;
  }

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  min-height: 100vh;
}

.react-jinke-music-player-main .music-player-panel .panel-content .rc-slider-handle,
.react-jinke-music-player-main .music-player-panel .panel-content .rc-slider-track {
  background-color: #E9003F !important;
}

.react-jinke-music-player-main svg:hover {
  color: #E9003F !important;
}